/*
Theme Name: Grata Child
Template: Grata
Version: 1.3.1
Author:	UpSolution
Theme URI: http://us-themes.com/wp/Grata/
Author URI: http://us-themes.com/
*/

/*Add your own styles here:*/
a.g-btn.color_red {
	background-color: #b60001;
	border-color: #b60001 !important;
}

.w-tabs-section-content-h {
	margin-left: 10%;
	margin-right: 10%;
}

.w-iconbox-icon {
	display: none;
}

.w-iconbox-title,
.w-iconbox-text {
	margin-left: 0 !important;
}